[Unit]
Description=TurboVNC Server for X11
Requires=display-manager.service
After=display-manager.service

[Service]
Type=forking
User=impact3
Group=impact3
ExecStart=/bin/bash -c '/opt/TurboVNC/bin/vncserver :3 -geometry 1600x1200 -log /var/log/turbovnc3.log'
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
